

h1 {
    color: green;
    text-align: center;
}

main {
    display: flex;
    align-content: center;
    justify-content: center;
}

#game_board {
    height: 625px;
    width: 825px;
    background-color:blue;
    display: flex;
    flex-direction: column;
}

#score_board {
   
}

#answer_board {

}

.game_block {
    color: white;
    height: 10%;
    width: 19%;
    display: flex;
    border: 2px solid white;
    margin: 10px;
}